# **************************************************************************** #
#                                                                              #
#                                                         .--.    No           #
#    .gitignore                                          |o_o |    Pain        #
#                                                        |:_/ |     No         #
#    By: YohanGH <YohanGH@proton.me>                    //    ''     Code      #
#                                                      (|     | )              #
#    Created: 2024/03/06 10:11:44 by YohanGH           '__   _/_               #
#    Updated: 2024/03/06 10:12:48 by YohanGH          (___)=(___)              #
#                                                                              #
# **************************************************************************** #

# Fichier teste
secret_file.html
